#数据库的连接信息
spring:
  datasource:
    url: ${DB_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  application:
    name: Echat-app
  servlet:
    multipart:
      #单个文件最大可上传大小
      max-file-size: 10MB
      #最大请求大小（包括所有文件和表单数据）
      max-request-size: 100MB

mybatis:
  mapper-locations: classpath:hal/th50743/mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    #开启驼峰命名映射的开关
    map-underscore-to-camel-case: true

logging:
  level:
    org.springframework.jdbc.support.JdbcTransactionManager: debug

minio:
  endpoint: ${OSS_ENDPOINT}
  accessKey: ${OSS_ACCESS_KEY}
  secretKey: ${OSS_SECRET_KEY}
  bucketName: ${OSS_BUCKET_NAME}
  path: ${OSS_PATH}

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION} #24hours
